body{
    margin:0;
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .title-container{
            text-align: center;
            border: black solid 1px;
        }
        .query-container{
            border: red solid 1px;;
        }
        .results{
            border: blue solid 1px;
        }
    }
}