<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Database</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css" >
</head>
<body>
    <div class="main">
        <div class="title-container">
            <h1 class="title">Movie Database</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate eos dolores aperiam veniam quasi.</p>
        </div>
        <div class="query-container"></div>
        <div class="results"></div>
    </div>
</body>
</html>