<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Database</title>
    <script src="./script.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/index.css" >
</head>
<body>
    <div class="main">
        <div class="title-container">
            <h1 class="title">Movie Database</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate eos dolores aperiam veniam quasi.</p>
        </div>
        <div class="query-container">
            <form action="/submit" method="POST">
                <label>Sort By:</label>
                <select name="sortBy">
                    <option value="title">Title</option>
                    <option value="genres">Genres</option>
                    <option value="movie_year">Year</option>
                </select>
                <label> Limit results to:</label>
                <input type="number" name="limit" value="100" placeholder="100">
                <label>From year</label>
                <input type="number" name="year1" value="1972" placeholder="1972">
                <label>to year</label>
                <input type="number" name="year2" value="1996" placeholder="1996">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="results">
            <table>
                <tr id='title-head'>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
                <% results.forEach(movie => { %>
                    <tr>
                        <th> <%= movie.title %></th>
                        <th> <%= movie.genres %></th>
                        <th> <%= movie.movie_year %></th>
                    </tr>
                <% }) %>
            </table>
        </div>
        <!-- <p><%= JSON.stringify(results) %></p> -->
        
    </div>
</body>
</html>